<nav class="navbar navbar-dark bg-dark">
    <a  class="navbar-brand text-white"> JWT Auth System</a>
   
    <ul class="navbar-nav mr-auto">
       <li class="nav-item">
        <a class="nav-link" routerLink="/adminPanel"> Admin Panel</a>
       </li>     
    </ul>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>


<div class="card m-5" style="width: 18rem" *ngIf= "userDetails">
   <ul class="list-group">
     <li class="list-group-item">
         <strong> Username: {{userDetails.userName}}</strong>
     </li>

     <li class="list-group-item">
        <strong> Email: {{userDetails.email}}</strong>
    </li>

    <li class="list-group-item">
        <strong> Full Name: {{userDetails.fullName}}</strong>
    </li>
   </ul>
</div>